/* Global Reset Styles */
*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style:none;
  box-sizing: border-box;
}
/* Home Page and Top Bar Styles */
#blackhole {
  /* Styling for Background Video */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
body{
  /* Font Style */
  font-family: 'Space Mono', monospace;
}
nav{
  /* Styling for Navigation Bar */
  position: absolute;
  background: rgba(139, 72, 43, 0.7);
  height: 80px;
  width: 100%;
}
label.title1{
  /* Styling for Site Title */
  position: absolute;
  color: #0B0806;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.container{
  /* Styling for Navigation Container */
  float: right;
  margin-right: 20px;
}
.container li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.container li a{
  color: #0B0806;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;

}
a.select,a:hover{
  background: #F4E3B4;
  transition: .5s;
  border-radius: 100%;
}
.checkbtn{
  display: none;
}
#checkbox{
  display: none;
}
/* Mobile Menu Styles */
@media (max-width: 768px){


  .checkbtn{
    font-size: 30px;
    color: #0B0806;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
  }
  label.title1{
    font-size: 20px;
    padding-left: 40px;
  }

  
  .checkbtn{
    display: block;
  }
  .container{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: #F2D0BA;
    top: 80px;
    left:-100%;
    text-align: center;
    TRANSITION: all .5s;
  }
  .container li{
    display: block;
  }
  .container li a{
    font-size: 20px;
  }

  #checkbox:checked~ul{
    left:0;
    
  }

  
}

/* About Page Styles */

section.about-container{
  /* Styling for background of about page and about-container */
  display: flex;
  flex-direction: row;
  background-color: #0B0806;
  position: static;
  height: fit-content;
  width: 100%;
  padding-top: 80px;
  overflow: hidden;
  justify-content: space-evenly;
}


.poster-container{
    /* Styling for Poster Container */
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 80px;

}
#poster2, #poster3{
  padding-top: 30px
}

  

.about-text{
  /* Styling for Text */
  position: static;
  color: white;
  font-size: 15px;
  float: right;
  padding-top: 2%;
  padding-right: 50px;
  width: 750px;
}

/* Mobile About Styles */
@media (max-width: 768px){
  section.about-container{
    display:flex;
    flex-direction: column;
    
  }
  #poster{
    position: static !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto;
    margin-top: 10%;
    height: 400px;
    width: 300px;
    
    
  }
  
  #poster2{
    display:none;
  }
  #poster3{
    display:none;
  }
  .about-text{
    text-align: center;
    margin-top: 10%;
    padding-left: 50px;
    width: 100%;
  }

  #development{
    display: none;
  }
  #writing{
    display: none;
  }
}

/* Cast Page Styles */
#castbody{
  /* Background Color */
  background-color: #0B0806;
}
div.cast-container {
  /* Styling for Cast Container */
  display:flex;
  flex-direction: column;
  overflow: hidden; 
  padding-top: 110px;
  gap: 30px;
  padding-right: 20px;
  padding-left: 30px;
}

.cast-member {
  /* Styling for each individual member */
  flex-basis: calc(33% - 20px);
  box-shadow: 5px 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  background-color: #D89B8D;
  text-align: center;
}




.cast-photo {
  max-width: 100%;
  height: 400px;
  border-radius: 50%;
}

.cast-name {
  font-weight: bold;
  margin-top: 10px;
}

.cast-role, .cast-films, .cast-socials {
  color: #0B0806;
  margin-top: 5px;
}

.cast-socials a {
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
}

.cast-socials a:hover {
  text-decoration: underline;
}




.cast-container .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid white;
  height: 45px;
  width: 45px;
  cursor: pointer;
  background: rgba(255,255,255,0.2);
}

.cast-container .slide:hover{
  background: rgba(255,255,255,0.2);
}

.slide span{
  /* Styling of side buttons */
  position: relative;
  font-size: 35px;
  color: white;
  line-height: 41px;
  lefT: 29%
}

.cast-container .right{
  right: 0;
}
.cast-container .left{
  left: 0;
}


.cast-group .cast-member {
  flex-basis: calc(33% - 20px); 

}
.cast-group {
  /* Styling for each cast group */
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  padding-right: 20px;
  padding-left: 30px;
  gap: 30px; 
}

.cast-group:nth-of-type(2) {
  /* Hiding second cast group at start */
  display: none;
}

/* Mobile Cast Styles */
@media (max-width: 768px) {
  .cast-group{
    flex-flow: column wrap;
    justify-content: center;
    margin-right: 5%;
  }
}


/* Plot Page Styles */
#plotbody{
  /* Background and text colors */
  background-color: #0B0806;
  color: white;
}
div.plot-container{
  /* Styling of Plot Container */
  display:flex;
  flex-flow: column wrap;
  padding-top: 100px;
  gap: 20px;
}
.plot-video{
  padding-top: 20px;
  display:flex;
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
}
.plot-container .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.plot-container .slide:hover{
  background: rgba(255,255,255,0.2);
}

.plot-section{
  /* Styling of each plot section */
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align:center;
}


.plot-container .right{
  right: 0;
}
.plot-container .left{
  left: 0;
}

/* Hiding of each plot section except first */
.plot-section:nth-of-type(2) {
  display: none;
}
.plot-section:nth-of-type(3) {
  display: none;
}
.plot-section:nth-of-type(4) {
  display: none;
}

iframe{
  border: 0;
}
/* Mobile Plot Styles */
@media (max-width: 576px){

  .videos{ /* Reduction of video sizes when it gets bigger than screen size */
    width:300px;
    height:200px;
  }
  
}

